language: "perl"

perl:
  - "5.8"
  - "5.10"
  - "5.14"
  - "5.18"
  - "5.22"

env:
  - COVERALLS=true  DB=mysql

sudo: required
dist: trusty
group: deprecated

addons:
  apt:
    packages:
      - unzip
      - mysql-server-5.6
      - apache2
      - libmysqlclient-dev
      - libpng12-dev
      - libssl-dev
      - openssl
      - mysql-client-5.6
      - mysql-client-core-5.6

before_install:
  - git clone --branch release/87 --depth 1 https://github.com/Ensembl/ensembl-test.git
  - git clone --branch release/87 --depth 1 https://github.com/Ensembl/ensembl.git
  - git clone --branch release/87 --depth 1 https://github.com/Ensembl/ensembl-io.git
  - git clone --branch release/87 --depth 1 https://github.com/Ensembl/ensembl-funcgen.git
  - git clone --branch release/87 --depth 1 https://github.com/Ensembl/ensembl-variation.git
  # - git clone --branch master --depth 1 https://github.com/Ensembl/Bio-HTS
  # - wget https://github.com/bioperl/bioperl-live/archive/release-1-6-924.zip
  # - unzip release-1-6-924.zip
  - export CWD=$PWD
  - export DEPS=$HOME/dependencies
  - mkdir -p $DEPS
  - cd $DEPS
  - $CWD/travisci/get_dependencies.sh
  - cd $CWD

install:
  - export CWD=$PWD
  - export DEPS=$HOME/dependencies
  - export KENT_SRC="$DEPS/kent-335_base/src"
  - export HTSLIB_DIR="$DEPS/htslib"
  - export MACHTYPE=$(uname -m)
  - export CFLAGS="-fPIC"
  - export PERL5LIB=$DEPS/bioperl-live-release-1-6-924:$PERL5LIB
  - cd $DEPS
  - $CWD/travisci/build_c.sh
  - cd $CWD
  - cpanm --quiet --installdeps --with-recommends --notest --cpanfile ensembl/cpanfile .
  - cpanm --quiet --installdeps --with-recommends --notest .
  - cpanm --quiet -n Devel::Cover::Report::Coveralls
  - cp travisci/MultiTestDB.conf.travisci  t/MultiTestDB.conf

script: "./travisci/harness.sh"

notifications:
  email:
    on_success: always
    on_failure: always
