params.singularity_dir = "$PWD/singularity-images"
profiles {
  standard {
    process.executor = 'local'
    process.memory = '5GB'
    process.cpus = 1
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  lsf {
    process.executor = 'lsf'
    process.memory = '5GB'
    process.cpus = 1
    process.clusterOptions = '-R "select[mem>5000] rusage[mem=5000]" -M5000'
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  //untested 
  slurm {
    process.executor = 'slurm'
    process.memory = '5GB' 
    process.cpus = 1
    process.clusterOptions = '--mem=5G'
    singularity {
      enabled = true
      autoMounts = true
    }
  }  
}

params.chros = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT"
params.vep_config = "$PWD/nf_config/vep.ini"
