params.singularity_dir = "$PWD/singularity-images"
process {
  executor = 'lsf'
  cpus = 1
  memory = '5 GB'
  clusterOptions = '-R "select[mem>5000] rusage[mem=5000]" -M5000'
  withName:splitVCF {
    container = "${params.singularity_dir}/bcftools.sif"
  }
  withName:chrosVEP {
    container = "${params.singularity_dir}/vep.sif"
  }
  withName:mergeVCF {
    container = "${params.singularity_dir}/bcftools.sif"
  }
}
singularity {
    enabled = true
    autoMounts = true
}
params.chros = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT"
params.vep_config = "$PWD/nf_config/vep.ini"
