profiles {
  standard {
    process.executor = 'local'
  }

  lsf {
    process.executor = 'lsf'
  }
  slurm {
    process.executor = 'slurm'
  }
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  cpus = 1
  memory = '4GB'

  withLabel: bcftools {
    container = 'docker://quay.io/biocontainers/bcftools:1.13--h3a49de5_0'
  }

  withLabel: vep {
    container = 'docker://ensemblorg/ensembl-vep'
  }
}
