// default params
params.cpus = 1
params.vcf = null
params.input = params.vcf
params.vep_config = null
params.filters = null
params.outdir = "outdir"
params.output_prefix = "''"
params.bin_size = 100
params.sort = false
params.help = false

process {
  cpus = 1
  memory = '4GB'
  time = '8h'

  withLabel: bcftools {
    container = 'docker://quay.io/biocontainers/bcftools:1.13--h3a49de5_0'
  }

  withLabel: vep {
    container = 'docker://ensemblorg/ensembl-vep'
  }

  withName: runVEP {
    memory = 32.GB
  }
}

profiles {
  standard {
    process.executor = 'local'
  }
  lsf {
    process.executor = 'lsf'
  }
  slurm {
    process.executor = 'slurm'
    singularity.enabled    = true
    singularity.autoMounts = true
  }

  conda {
    conda.enabled          = true
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  mamba {
    conda.enabled          = true
    conda.useMamba         = true
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  docker {
    docker.enabled         = true
    docker.userEmulation   = true
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  arm {
    docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    docker.enabled         = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  podman {
    podman.enabled         = true
    docker.enabled         = false
    singularity.enabled    = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  shifter {
    shifter.enabled        = true
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    charliecloud.enabled   = false
  }
  charliecloud {
    charliecloud.enabled   = true
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
  }
  gitpod {
    executor.name          = 'local'
    executor.cpus          = 16
    executor.memory        = 60.GB
  }
}

def tracedir = 'reports'
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${tracedir}/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'Ensembl VEP'
    author          = 'Ensembl'
    homePage        = 'https://github.com/Ensembl/ensembl-vep'
    description     = 'The Ensembl Variant Effect Predictor predicts the functional effects of genomic variants'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = 'release/113.0'
    doi             = '10.1186/s13059-016-0974-4'
}
